In [95]:
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler, RobustScaler
from scipy import stats
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from yellowbrick.model_selection import FeatureImportances

In [96]:
df0 = pd.read_csv('D:\GitHub\\4BIT\metabolites\dataset\plasma_processed.csv')
df0 = df0.drop('Unnamed: 0', axis=1)
df0.head()

,1_5-anhydroglucitol,1-monostearin,2_3-dihydroxybutanoic acid NIST,2_4-diaminobutyric acid,2-deoxyerythritol,2-deoxytetronic acid,2-hydroxybutanoic acid,2-hydroxyglutaric acid,2-hydroxyhippuric acid,2-hydroxyvaleric acid,...,tryptophan,tyrosine,UDP-glucuronic acid,urea,uric acid,uridine,valine,xylitol,xylose,Class
0,9483,103,101,963,389,123,20744,139,36,955,...,27450,52403,73,255067,10057,63,157332,154,1380,disease
1,27468,207,155,335,227,178,8611,78,91,103,...,17898,37179,157,180080,8386,118,103083,324,929,disease
2,13976,86,78,176,152,83,22792,92,97,1010,...,29503,30670,211,138861,15822,119,92045,253,610,disease
3,19449,178,104,467,270,157,29418,123,92,289,...,16501,27573,71,183633,14024,102,97349,223,746,disease
4,17209,258,103,979,314,211,16713,76,42,1126,...,24023,30096,222,255081,23154,58,159671,189,2022,disease

In [110]:
min_value = df0.min()
min_value

1_5-anhydroglucitol                  835
1-monostearin                         30
2_3-dihydroxybutanoic acid NIST       49
2_4-diaminobutyric acid              109
2-deoxyerythritol                     81
                                   ...
uric acid                           4296
uridine                               13
valine                             57512
xylitol                              103
xylose                               193
Length: 158, dtype: int64

In [114]:
min_value.shape

(158,)

In [115]:
min_value[0]

C:\Users\athar\AppData\Local\Temp\ipykernel_18368\691077220.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  min_value[0]

835

In [111]:
max_value = df0.max()
max_value

1_5-anhydroglucitol                 47350
1-monostearin                       32821
2_3-dihydroxybutanoic acid NIST       216
2_4-diaminobutyric acid              2013
2-deoxyerythritol                    1222
                                    ...
uric acid                           35849
uridine                               181
valine                             161355
xylitol                              2133
xylose                               2775
Length: 158, dtype: int64

In [97]:
df0.drop(['Class'] , axis = 1 , inplace = True)

In [98]:
from sklearn.preprocessing import StandardScaler, Normalizer, MinMaxScaler, RobustScaler

scl = StandardScaler().fit(df0.iloc[:, :])
stand = scl.transform(df0.iloc[:, :])
# stand
df = pd.DataFrame(stand, columns = df0.columns[:])
df = pd.concat([df, df0.iloc[:, -1]], axis=1)
df

,1_5-anhydroglucitol,1-monostearin,2_3-dihydroxybutanoic acid NIST,2_4-diaminobutyric acid,2-deoxyerythritol,2-deoxytetronic acid,2-hydroxybutanoic acid,2-hydroxyglutaric acid,2-hydroxyhippuric acid,2-hydroxyvaleric acid,...,tryptophan,tyrosine,UDP-glucuronic acid,urea,uric acid,uridine,valine,xylitol,xylose,xylose
0,-1.315982,-0.191139,-0.314134,0.900240,0.209300,-0.666017,0.727863,-0.138580,-0.400194,-0.055432,...,0.523924,1.937765,-0.418593,0.378001,-1.016102,-0.694224,1.877948,-0.534297,0.632746,1380
1,0.702901,-0.166243,1.106687,-0.833770,-0.534704,-0.188475,-0.953771,-0.224592,-0.167457,-1.295085,...,-0.898525,0.312181,-0.180562,-0.527748,-1.243045,0.992711,-0.343225,-0.079396,-0.254870,929
2,-0.811626,-0.195209,-0.919298,-1.272795,-0.879151,-1.013320,1.011716,-0.204851,-0.142067,0.024593,...,0.829649,-0.382834,-0.027542,-1.025622,-0.233142,1.023383,-0.795165,-0.269384,-0.882696,610
3,-0.197261,-0.173185,-0.235199,-0.469297,-0.337221,-0.370810,1.930079,-0.161140,-0.163225,-1.024456,...,-1.106561,-0.713525,-0.424260,-0.484832,-0.477333,0.501966,-0.577998,-0.349661,-0.615033,746
4,-0.448710,-0.154034,-0.261511,0.944419,-0.135146,0.098050,0.169166,-0.227412,-0.374804,0.193372,...,0.013588,-0.444125,0.003629,0.378170,0.762636,-0.847582,1.973716,-0.440641,1.896271,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,0.442585,-0.171749,1.080375,-0.532803,-0.925077,0.384575,0.725645,-0.262663,-0.010889,-1.174321,...,0.980799,0.230176,-0.302411,0.036487,0.046360,-0.878254,0.141430,-0.272060,-0.398542,856
78,0.333923,-0.181803,0.580457,0.411514,-0.539297,-0.466318,-0.665899,-0.244333,-0.302867,-1.328550,...,-0.029896,-0.827457,-0.313746,1.706386,1.559041,-0.755568,0.646188,0.014261,-0.109230,1003
79,0.296543,-0.187548,-1.261347,-1.394286,0.039373,0.818703,-0.750583,-0.275354,-0.315562,-0.183471,...,0.944910,0.161091,-0.177728,1.258252,0.298428,-0.295494,-1.364001,0.265794,0.433967,1279
80,-0.825994,-0.192575,-1.261347,0.673825,0.461894,-0.674700,-0.086412,-0.228822,0.306480,0.161362,...,-1.340508,-1.637365,5.540680,1.202207,-0.008101,0.685996,-0.599248,2.933659,-0.026569,1045
81,-0.172565,-0.171030,1.685540,-0.516236,-0.814854,-0.249253,-0.142545,-0.302144,0.539217,-0.013237,...,-0.901056,-0.620628,-0.463932,-0.407552,2.021212,-0.203480,0.448019,-0.344309,3.004314,2585

In [99]:
plasma_list = ['asparagine',
                'benzoic acid',
                'tryptophan',
                'uric acid',
                '5-hydroxynorvaline NIST',
                'alpha-ketoglutarate',
                'citrulline',
                'glutamine',
                'hypoxanthine',
                'malic acid',
                'methionine sulfoxide',
                'nornicotine',
                'octadecanol',
                '3-phosphoglycerate',
                '5-methoxytryptamine',
                'adenosine-5-monophosphate',
                'aspartic acid',
                'lactic acid',
                'maltose',
                'maltotriose',
                'N-methylalanine',
                'phenol',
                'phosphoethanolamine',
                'pyrophosphate',
                'pyruvic acid',
                'taurine']

In [100]:
plasma_dict3 = {}
for i in range(len(plasma_list)) : 
    plasma_dict3[plasma_list[i]] = df.iloc[0,i]

plasma_dict3 = pd.DataFrame(plasma_dict3 , index = [0])
plasma_dict3

,asparagine,benzoic acid,tryptophan,uric acid,5-hydroxynorvaline NIST,alpha-ketoglutarate,citrulline,glutamine,hypoxanthine,malic acid,...,aspartic acid,lactic acid,maltose,maltotriose,N-methylalanine,phenol,phosphoethanolamine,pyrophosphate,pyruvic acid,taurine
0,-1.315982,-0.191139,-0.314134,0.90024,0.2093,-0.666017,0.727863,-0.13858,-0.400194,-0.055432,...,-0.493834,-0.853596,1.043546,-0.142648,-1.118377,-0.318017,-0.041228,-0.190588,0.512135,-0.915811

In [101]:
plasma_dict2 = {}
for i in range(len(plasma_list)) : 
    plasma_dict2[plasma_list[i]] = df0.iloc[0,i]

In [102]:
plasma_dict2 = pd.DataFrame(plasma_dict2 , index = [0])
plasma_dict2

,asparagine,benzoic acid,tryptophan,uric acid,5-hydroxynorvaline NIST,alpha-ketoglutarate,citrulline,glutamine,hypoxanthine,malic acid,...,aspartic acid,lactic acid,maltose,maltotriose,N-methylalanine,phenol,phosphoethanolamine,pyrophosphate,pyruvic acid,taurine
0,9483,103,101,963,389,123,20744,139,36,955,...,62,83,363,418,97,210,190781,153,386,894

In [103]:
plasma_dict = {'asparagine': '1281', 'benzoic acid': '1750', 'tryptophan': '17898', 'uric acid': '8386', '5-hydroxynorvaline NIST': '88', 'alpha-ketoglutarate': '255', 'citrulline': '868', 'glutamine': '101091', 'hypoxanthine': '590', 'malic acid': '187', 'methionine sulfoxide': '627', 'nornicotine': '88', 'octadecanol': '135', '3-phosphoglycerate': '162', '5-methoxytryptamine': '65', 'adenosine-5-monophosphate': '148', 'aspartic acid': '770', 'lactic acid': '135070', 'maltose': '110', 'maltotriose': '71', 'N-methylalanine': '5239', 'phenol': '1528', 'phosphoethanolamine': '44', 'pyrophosphate': '2406', 'pyruvic acid': '6206', 'taurine': '1446'}
X_plasma_df = pd.DataFrame(plasma_dict , index = [0])

In [104]:
X_plasma_df

,asparagine,benzoic acid,tryptophan,uric acid,5-hydroxynorvaline NIST,alpha-ketoglutarate,citrulline,glutamine,hypoxanthine,malic acid,...,aspartic acid,lactic acid,maltose,maltotriose,N-methylalanine,phenol,phosphoethanolamine,pyrophosphate,pyruvic acid,taurine
0,1281,1750,17898,8386,88,255,868,101091,590,187,...,770,135070,110,71,5239,1528,44,2406,6206,1446

In [105]:
scl = StandardScaler().fit(X_plasma_df.iloc[:, :])
stand = scl.transform(X_plasma_df.iloc[:, :])
# stand
X_plasma_new_df = pd.DataFrame(stand, columns = X_plasma_df.columns[:])
X_plasma_new_df = pd.concat([X_plasma_new_df, X_plasma_df.iloc[:, -1]], axis=1)
X_plasma_new_df

,asparagine,benzoic acid,tryptophan,uric acid,5-hydroxynorvaline NIST,alpha-ketoglutarate,citrulline,glutamine,hypoxanthine,malic acid,...,lactic acid,maltose,maltotriose,N-methylalanine,phenol,phosphoethanolamine,pyrophosphate,pyruvic acid,taurine,taurine
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1446

In [106]:
# using typical standard scaler 
scaler = StandardScaler()
scaled_data = scaler.fit_transform(plasma_dict2)
scaled_df = pd.DataFrame(scaled_data , columns = plasma_dict2.columns)

In [107]:
scaled_df

,asparagine,benzoic acid,tryptophan,uric acid,5-hydroxynorvaline NIST,alpha-ketoglutarate,citrulline,glutamine,hypoxanthine,malic acid,...,aspartic acid,lactic acid,maltose,maltotriose,N-methylalanine,phenol,phosphoethanolamine,pyrophosphate,pyruvic acid,taurine
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
scl = StandardScaler().fit(plasma_dict2.iloc[:, :])
stand = scl.transform(plasma_dict2.iloc[:, :])
# stand
temp = pd.DataFrame(stand, columns = plasma_dict2.columns[:])
temp = pd.concat([temp, plasma_dict2.iloc[:, -1]], axis=1)
temp

,asparagine,benzoic acid,tryptophan,uric acid,5-hydroxynorvaline NIST,alpha-ketoglutarate,citrulline,glutamine,hypoxanthine,malic acid,...,lactic acid,maltose,maltotriose,N-methylalanine,phenol,phosphoethanolamine,pyrophosphate,pyruvic acid,taurine,taurine
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,894

In [109]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(plasma_dict2)
scaled_data = scaler.transform(plasma_dict2) 
scaled_df = pd.DataFrame(scaled_data, columns=plasma_dict2.columns[:])
scaled_df

,asparagine,benzoic acid,tryptophan,uric acid,5-hydroxynorvaline NIST,alpha-ketoglutarate,citrulline,glutamine,hypoxanthine,malic acid,...,aspartic acid,lactic acid,maltose,maltotriose,N-methylalanine,phenol,phosphoethanolamine,pyrophosphate,pyruvic acid,taurine
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0